$intro-transition  : none;
$global-transition : none;

$doc-font-size: 14px !default;

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 1024px !default;
$large: 1280px !default;
$x-large: 1400px !default;
$max-width: 1600px !default;

/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

div.highlighter-rouge,
figure.highlight {
  line-height: 1.5;
  font-size: $type-size-7;
}

.notice--primary a, .markdown-alert-important a {
    color: #42c3cb;
}

.notice--primary a:hover, .markdown-alert-important a:hover {
    color: #68e3eb;
}

table {
  font-size: 0.85em;
  margin-bottom: 1.25em;
}

.mermaid-block {
    margin-bottom: 2em;

    pre {
        margin-block: 0;
        margin-bottom: 1em;
    }

    .mermaid-source-toggle {
        font-size: 0.8em;
        margin-top: -1rem;
        float: right;
    }
}

.mermaid-source {
    margin-top: 0.75rem;
}